/* ==========================================
   TYPOGRAPHY
   ========================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serif);
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: 4rem;
    letter-spacing: -0.02em;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
    font-weight: 300;
}